.contenedor{
    display: grid;
    grid-gap: 20px;
/* va rellenar la fila con todo lo que pueda y va crear columnas implicitas */
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));



}